Package: linux-headers-4.9-124-google-sargo
Source: linux-android-google-sargo
Version: 0.0.0+git20230319014132.ef051e6.bookworm+git20230319025551.88465d0.bookworm
Architecture: arm64
Maintainer: Bardia Moshiri <fakeshell@bardia.tech>
Installed-Size: 50901
Depends: linux-image-4.9-124-google-sargo (= 0.0.0+git20230319014132.ef051e6.bookworm+git20230319025551.88465d0.bookworm)
Section: kernel
Priority: optional
Description: Linux kernel for Google Pixel 3a - Headers
 This package contains the Linux kernel headers for the Google Pixel 3a device.
