#!/usr/bin/make -f

include /usr/share/linux-packaging-snippets/kernel-snippet.mk

%:
	dh $@

out/KERNEL_OBJ/initramfs.gz:
	cp /usr/lib/arm-linux-gnueabi/halium-generic-initramfs/initrd.img-halium-generic $@

out/KERNEL_OBJ/recovery-initramfs.gz:
	cp /usr/lib/arm-linux-gnueabi/halium-generic-initramfs/recovery-initramfs.img-halium-generic $@
