#!/usr/bin/make -f

include /usr/share/linux-packaging-snippets/kernel-snippet.mk

%:
	dh $@

out/KERNEL_OBJ/initramfs.gz:
	OVERLAY_DIR="$(CURDIR)/debian/initramfs-overlay"; \
	if [ -e "$${OVERLAY_DIR}" ]; then \
		tmpdir=$$(mktemp -d); \
		cd $${tmpdir}; \
		gunzip -c /usr/lib/arm-linux-gnueabihf/halium-generic-initramfs/initrd.img-halium-generic | cpio -i; \
		cp -Rv $${OVERLAY_DIR}/* .; \
		find . | cpio -o -R 0:0 -H newc | gzip > $(BASEDIR)/$@; \
	else \
		cp /usr/lib/arm-linux-gnueabihf/halium-generic-initramfs/initrd.img-halium-generic $@; \
	fi

out/KERNEL_OBJ/recovery-initramfs.gz:
	OVERLAY_DIR="$(CURDIR)/debian/initramfs-overlay"; \
	RECOVERY_OVERLAY_DIR="$(CURDIR)/debian/recovery-initramfs-overlay"; \
	if [ -e "$${OVERLAY_DIR}" ] || [ -e "$${RECOVERY_OVERLAY_DIR}" ]; then \
		tmpdir=$$(mktemp -d); \
		cd $${tmpdir}; \
		gunzip -c /usr/lib/arm-linux-gnueabihf/halium-generic-initramfs/recovery-initramfs.img-halium-generic | cpio -i;\
		[ -e "$${OVERLAY_DIR}" ] && cp -Rv $${OVERLAY_DIR}/* .; \
		[ -e "$${RECOVERY_OVERLAY_DIR}" ] && cp -Rv $${RECOVERY_OVERLAY_DIR}/* .; \
		find . | cpio -o -R 0:0 -H newc | gzip > $(BASEDIR)/$@; \
	else \
		cp /usr/lib/arm-linux-gnueabihf/halium-generic-initramfs/recovery-initramfs.img-halium-generic $@; \
	fi
