Package: linux-image-4.9-124-google-sargo
Source: linux-android-google-sargo
Version: 0.0.0+git20230319014132.ef051e6.bookworm+git20230319025551.88465d0.bookworm
Architecture: arm64
Maintainer: Bardia Moshiri <fakeshell@bardia.tech>
Installed-Size: 27666
Section: kernel
Priority: optional
Description: Linux kernel for Google Pixel 3a
 This package contains the Linux kernel for the Google Pixel 3a device.
 .
 Note: This package only ships the kernel image and modules, you should probably
 look at the linux-bootimage-4.9-124-google-sargo package for a bootimage suitable
 for Android boot loaders.
